.monaco-code-editor-wrapper {
    width: 100%;
}

.monaco-code-editor {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 16rem;
    border-radius: 0.5rem;
}

.monaco-code-editor .monaco-editor {
    border-radius: 0.5rem;
}

.monaco-code-editor .monaco-editor .monaco-editor-background {
    border-radius: 0.5rem;
}
